@use "../../scss/" as *;

.create-score {
  @include manage();
  @include main-container;

  .score-info {
    @include flex(center, center);
    margin-bottom: 10px;
    h4 {
      margin-left: 12px;
      margin-right: 12px;
    }
    h5 {
      margin-left: 12px;
      margin-right: 12px;
      font-size: 16px;
    }
  }
  .row {
    display: flex;
    color: #000;
    font-size: 14px;

    &.heading {
      @include heading();

      & > .item {
        @include heading-item();
      }
    }

    &.content {
      padding-top: 14px;
      padding-bottom: 10px;

      & > .item {
        justify-content: center;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }

    &.content button:first-child img,
    &.content button:nth-child(2) img {
      margin-right: 10px;
    }

    img {
      cursor: pointer;
    }
  }
}

// .btns {
//   margin-left: 25px;
//   margin-top: 60px;
//   margin-bottom: 30px;
// }
